@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hillerød Sejlklub</h1>
    <p>Vores officelle facebook side: <a href="https://www.facebook.com/hillerodsejl">Facebook</a>.</p>
</div>
